.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 35%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
.boton *, .boton--sm * 
  color: #fff
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.jpg") !important
.banner-interno__titulo h1, .banner-interno__titulo h2, .banner-interno__titulo h3, .banner-interno__titulo h4, .banner-interno__titulo h5, .banner-interno__titulo h6
  color: #12263f
  line-height: 1.1em 
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263f
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.colortex
  color: #12263f
.bg1
  background-color: #FEF5EA
.bg11
  background-color: #EEE8F3
.bg111
  background-color: #EEE8F3
  margin-inline: 0.5rem
  width: 410px
.bg12
  background-color: #EFFAF4
.bg3
  background-color: #F5E9C5
.bg7
  background-color: #E7C96E
  border-radius: 20px
.bg14
  background-color: #E7C96E

.bg8
  background-color: #FBD7A8
.bg13
  background-color: #FDEBD3
.bg23
  background-color: #DAF2E4
.bg9
  background-color: #FBD7A8
.bg10
  background-color: #fff
  border-radius: 10px
.bg16
  background-color: #DAF2E4
.escala-grises .tabs-b__tab 
  &.tabs-b__tab--active .tabs-b__tab__icon
    filter: grayscale(0)
    transition: all 0.2s ease-out
  .tabs-b__tab__icon
    filter: grayscale(1)
    transition: all 0.2s ease-out
.img-a
  width: auto
  height: auto
.img-t
  display: block
  margin: auto
.fa-info 
  --fa: "\f129"
  color: #12263F
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #12263f !important
.lista-ul--color li > i:first-of-type 
  color: #665476

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    background-color: #FAF4E2
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #FAF4E2
    color: black !important
.linea-tiempo-d .tarjeta 
    border-radius: 5px
.tarjeta--gris 
    background-color:#95DBB3
.tarjeta.color-acento-contenido 
  background-color: #77AF8F
.bgizq
  background-color: #95DBB3
.bgder
  background-color: #EEE8F3
.fondo1
  background: url('../assets/curso/Tema1/fondo1.png')
  background-size: 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.3rem
  @media screen and (max-width: 767px)
    margin-inline: -1rem
    margin-right: -0.5rem
    margin-left: -0.5rem
    background-size:  100% 100%
.centrado
  height: 98%
.fondo2
  background: url('../assets/curso/Tema2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.3rem
  @media screen and (max-width: 767px)
    margin-inline: -1rem
    margin-right: -0.5rem
    margin-left: -0.5rem
    background-size:  100% 100%
.fondo3
  background: url('../assets/curso/Tema2/fondo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.0rem
  @media screen and (max-width: 992px)
    margin-inline: -1.3rem
  @media screen and (max-width: 767px)
    margin-inline: -1rem
    margin-right: -0.5rem
    margin-left: -0.5rem
    background-size:  100% 100%
.tarjeta-color
  background-color: #DCD0E7
.titulo-segundo:after 
  border-left-color: #ffc107
.acordion .tarjeta--azul
  background-color: #EEE8F3
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #FBD7A8
.h1, .titulo-principal__numero span, .h2, .h3, .h4, .h5, .h6 
  color: #fff
.acordion__accion__btn--a 
  background-color: #0d6efd

.w-card-icon
  width: min-content
  z-index: 1

.w-card-text
  position: relative
  padding-left: 25px
  padding-right: 25px
  left: -15px
  top: 8px
  width: fit-content
.w-card-text2
  position: relative
  padding-left: 27px
  padding-right: 27px
  left: 25px
  top: 8px
  width: fit-content
.imgtam
  height: 434px
.imgtam2
  height: 415px

.tarjeta.color-acento-botones--borde 
  background-color: #EEE8F3
  border: #EEE8F3
.tarjeta.color-slyder
  background-color: #DCD0E7

.tabs-a__tab 
  background-color: #104880
  color: #fff
.fondotema4
  background: url('../assets/curso/Tema4/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -2.5rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -1rem
    margin-right: -1rem
    margin-left: -1rem
.fondotema42
  background: url('../assets/curso/Tema4/fondo2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -2.5rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -1rem
    margin-right: -1rem
    margin-left: -1rem

.fondotema43
  background: url('../assets/curso/Tema4/fondo3.png')
  background-position: top
  background-size: 100% 50%
  background-repeat: no-repeat
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -2.5rem  
    background-size: center 
  @media screen and (max-width: 767px)
    background-size: cover 
    margin-inline: -1rem
    margin-right: -1rem
    margin-left: -1rem

.cambiartarjeta
  background-image: url('../assets/curso/Tema5/01.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  border-radius: 20px
  color: black
  &:hover
    background-image: url('../assets/curso/Tema5/02.png')
    color: white
.icono-cambia1:hover 
  filter: hue-rotate(250deg)

.fondoslyder
  background-image: url('../assets/curso/Tema5/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  @media screen and (max-width: 767px)
    background-size: cover 
    border-radius: 20px 
.fondoblanco
  background-color: #fff
  border-radius: 20px
.linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 
  background-color: #104880
.fa-angle-left 
  --fa: "\f104"
  color: #fff
.fa-angle-right 
  --fa: "\f105"
  color: #fff
.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #E7C96E
  background-color: #E7C96E

.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after
  background-color: #afafaf
.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
    background-color: #afafaf
.pasos-b__header__item--active .pasos-b__header__item__dot span 
  color: #12263f

.pasos-b__header__item--active .pasos-b__header__item__dot 
  background-color: #E7C96E
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #104880
  background-image: url(../assets/curso/Tema5/flecha.svg)

.slyder-a__bullets__item--active 
  background-color: #E7C96E
  border-color: #E7C96E
  opacity: 1

.slyder-a__bullets__item 
  background-color: #e7c96e

.barra-avance__boton--regresar span
  color: #fff !important
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover * 
  color: #fff

.imggran
  height: 490px

.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 25px
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0) 
  &:hover    
    .crd_hover_txt--body
      height: 75%   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #FBD7A8
      h4, p
        opacity: 1
        color: #12263F !important
  .crd_hover_txt--body
    position: absolute
    padding: 1.1rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #876F9D
    h4
      color: #ffff
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.relleno
  background-color: #EAF8F0
.fondotabs
  background: url('../assets/curso/Tema2/fondotabs.png')
  background-size: 110% 100%
  background-repeat: no-repeat
  background-position: center 
.tabs-c__header 
  margin-bottom: 0px
  background-color:#ffff
.tabs-c__tab--active 
  font-weight: bold
.tabs-c__tab:after, .tabs-c__tab:before 
  color: #104880
.col-sm-6.col-lg-4.col-xl.tabs-c__tab.py-3.tabs-c__tab--active
  color: #104880

.slyder-f__btn i 
    font-size: 1.5rem
    min-width: 40px
    max-width: 40px
    min-height: 40px
    max-height: 40px
    flex: auto
    border-radius: 50%
    background-color: #0058C9
    display: flex
    justify-content: center
    align-items: center

.slyder-f__btn.pe-1
  margin-right: 1rem
  padding-right: 0 !important
.slyder-f__btn.ps-1
  margin-left: 1rem
  padding-left: 0 !important

.fa-chevron-right 
  --fa: "\f054"
  color: #fff
.fa-chevron-left
  --fa: "\f053"
  color: #fff